body {
	padding: 60 px;
	font-size: 0;
	margin-left: auto;
	margin-right: auto;
	height: 500px;
	width: 800px;
}

.container {
	height: 500px;
	width: 803px;
	border-width: 5px solid red; /* BORDERS NOT WORKING, I TESTED WITH RED */
	margin-left: auto;
	margin-right: auto;
}

.rectangle {
	height: 200px; /* % should also work */
	width: 50%;
	border-width: 3px solid black; /* INCREASED TO 3PX FOR TESTING, DOES NOT WORK */
	display: inline-block;
}

.square {
	height: 300px; /* % should also work */
	width: 33.33%;
	border-width: 3px solid black; /* NOT WORKING */
	display: inline-block;
}

#green {
	background-color: green; /* blue is left of green for some reason */
}

#blue {
	background-color: blue;
}

#grey {
	background-color: grey;
}

#black {
	background-color: black;
}

#gold {
	background-color: gold;
}